[submodule "red4ext.sdk"]
	path = red4ext/deps/red4ext.sdk
	url = git@github.com:jackhumbert/RED4ext.SDK.git
[submodule "red4ext/deps/spdlog"]
	path = red4ext/deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "red4ext/deps/detours"]
	path = red4ext/deps/detours
	url = https://github.com/microsoft/Detours.git
